-- MySQL dump 10.13  Distrib 8.0.32, for Linux (x86_64)
--
-- Host: localhost    Database: SystemaOllantay
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `compra_O`
--

DROP TABLE IF EXISTS `compra_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra_O` (
  `idCompra` int NOT NULL AUTO_INCREMENT,
  `numeroCompra` varchar(20) NOT NULL,
  `fechaCompra` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `idProveedor` int NOT NULL,
  `idEmpresa` int NOT NULL,
  `idTipoPago` int NOT NULL,
  `montoTotal` decimal(10,2) NOT NULL DEFAULT '0.00',
  `montoPagado` decimal(10,2) NOT NULL DEFAULT '0.00',
  `saldo` decimal(10,2) GENERATED ALWAYS AS ((`montoTotal` - `montoPagado`)) STORED,
  `estado` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=activa, 0=anulada',
  `observaciones` text,
  `idUsuario` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idCompra`),
  UNIQUE KEY `numeroCompra` (`numeroCompra`),
  KEY `fk_compra_empresa` (`idEmpresa`),
  KEY `fk_compra_tipopago` (`idTipoPago`),
  KEY `fk_compra_usuario` (`idUsuario`),
  KEY `idx_compra_fecha_empresa` (`fechaCompra`,`idEmpresa`),
  KEY `idx_compra_proveedor` (`idProveedor`),
  KEY `idx_compra_saldo` (`saldo`),
  KEY `idx_compra_numero` (`numeroCompra`),
  CONSTRAINT `fk_compra_empresa` FOREIGN KEY (`idEmpresa`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `fk_compra_proveedor` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor_O` (`idProveedor`),
  CONSTRAINT `fk_compra_tipopago` FOREIGN KEY (`idTipoPago`) REFERENCES `tipoPago` (`idPago`),
  CONSTRAINT `fk_compra_usuario` FOREIGN KEY (`idUsuario`) REFERENCES `user_O` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Compras (cabecera)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_O`
--

LOCK TABLES `compra_O` WRITE;
/*!40000 ALTER TABLE `compra_O` DISABLE KEYS */;
INSERT INTO `compra_O` (`idCompra`, `numeroCompra`, `fechaCompra`, `idProveedor`, `idEmpresa`, `idTipoPago`, `montoTotal`, `montoPagado`, `estado`, `observaciones`, `idUsuario`, `created_at`, `updated_at`) VALUES (1,'CMP-2025-001','2025-10-21 00:00:00',1,1,1,850.00,0.00,1,NULL,1,'2025-10-21 02:57:14','2025-10-21 02:57:14');
/*!40000 ALTER TABLE `compra_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuenta_corriente_O`
--

DROP TABLE IF EXISTS `cuenta_corriente_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuenta_corriente_O` (
  `idCuentaCorriente` int NOT NULL AUTO_INCREMENT,
  `tipo` enum('cliente','proveedor') NOT NULL,
  `idPersona` int DEFAULT NULL,
  `idProveedor` int DEFAULT NULL,
  `idEmpresa` int NOT NULL,
  `fechaMovimiento` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tipoMovimiento` enum('venta','compra','pago','cobro','ajuste') NOT NULL,
  `idReferencia` int DEFAULT NULL COMMENT 'ID de venta_O, compra_O, pago_O seg??n tipo',
  `debe` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Monto a favor del cliente/proveedor',
  `haber` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Monto a favor de la empresa',
  `saldo` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Saldo acumulado',
  `descripcion` varchar(255) DEFAULT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idCuentaCorriente`),
  KEY `idx_ctacte_persona` (`idPersona`,`fechaMovimiento`),
  KEY `idx_ctacte_proveedor` (`idProveedor`,`fechaMovimiento`),
  KEY `idx_ctacte_empresa` (`idEmpresa`,`tipo`),
  KEY `idx_ctacte_fecha` (`fechaMovimiento`),
  CONSTRAINT `fk_ctacte_empresa` FOREIGN KEY (`idEmpresa`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `fk_ctacte_persona` FOREIGN KEY (`idPersona`) REFERENCES `persona_O` (`id_persona`),
  CONSTRAINT `fk_ctacte_proveedor` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor_O` (`idProveedor`),
  CONSTRAINT `chk_ctacte_tipo` CHECK ((((`tipo` = _latin1'cliente') and (`idPersona` is not null) and (`idProveedor` is null)) or ((`tipo` = _latin1'proveedor') and (`idProveedor` is not null) and (`idPersona` is null))))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Cuenta corriente (movimientos de clientes y proveedores)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuenta_corriente_O`
--

LOCK TABLES `cuenta_corriente_O` WRITE;
/*!40000 ALTER TABLE `cuenta_corriente_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `cuenta_corriente_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_compra_O`
--

DROP TABLE IF EXISTS `detalle_compra_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_compra_O` (
  `idDetalleCompra` int NOT NULL AUTO_INCREMENT,
  `idCompra` int NOT NULL,
  `idProducto` int NOT NULL,
  `cantidad` int NOT NULL,
  `costoUnitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) GENERATED ALWAYS AS ((`cantidad` * `costoUnitario`)) STORED,
  PRIMARY KEY (`idDetalleCompra`),
  KEY `idx_detalle_compra` (`idCompra`),
  KEY `idx_detalle_compra_producto` (`idProducto`),
  CONSTRAINT `fk_detalle_compra` FOREIGN KEY (`idCompra`) REFERENCES `compra_O` (`idCompra`) ON DELETE CASCADE,
  CONSTRAINT `fk_detalle_compra_producto` FOREIGN KEY (`idProducto`) REFERENCES `producto_O` (`idProducto`),
  CONSTRAINT `detalle_compra_O_chk_1` CHECK ((`cantidad` > 0)),
  CONSTRAINT `detalle_compra_O_chk_2` CHECK ((`costoUnitario` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Detalle de compras (l??neas de compra)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_compra_O`
--

LOCK TABLES `detalle_compra_O` WRITE;
/*!40000 ALTER TABLE `detalle_compra_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_compra_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta_O`
--

DROP TABLE IF EXISTS `detalle_venta_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_venta_O` (
  `idDetalleVenta` int NOT NULL AUTO_INCREMENT,
  `idVenta` int NOT NULL,
  `idProducto` int NOT NULL,
  `cantidad` int NOT NULL,
  `precioUnitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) GENERATED ALWAYS AS ((`cantidad` * `precioUnitario`)) STORED,
  PRIMARY KEY (`idDetalleVenta`),
  KEY `idx_detalle_venta` (`idVenta`),
  KEY `idx_detalle_producto` (`idProducto`),
  CONSTRAINT `fk_detalle_producto` FOREIGN KEY (`idProducto`) REFERENCES `producto_O` (`idProducto`),
  CONSTRAINT `fk_detalle_venta` FOREIGN KEY (`idVenta`) REFERENCES `venta_O` (`idVenta`) ON DELETE CASCADE,
  CONSTRAINT `detalle_venta_O_chk_1` CHECK ((`cantidad` > 0)),
  CONSTRAINT `detalle_venta_O_chk_2` CHECK ((`precioUnitario` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Detalle de ventas (l??neas de venta)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta_O`
--

LOCK TABLES `detalle_venta_O` WRITE;
/*!40000 ALTER TABLE `detalle_venta_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_venta_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresa_O`
--

DROP TABLE IF EXISTS `empresa_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresa_O` (
  `id_empresa` int NOT NULL AUTO_INCREMENT,
  `nombre_empresa` varchar(100) NOT NULL,
  `direccion_empresa` varchar(100) NOT NULL,
  `estado_empresa` tinyint(1) NOT NULL,
  PRIMARY KEY (`id_empresa`),
  KEY `idx_empresa_nombre_direccion` (`nombre_empresa`(50),`direccion_empresa`(50))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Se anota el nombre de la empresa la empresa';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresa_O`
--

LOCK TABLES `empresa_O` WRITE;
/*!40000 ALTER TABLE `empresa_O` DISABLE KEYS */;
INSERT INTO `empresa_O` VALUES (1,'Pollos rico','Avenida Epifanio Rios 466',1),(2,'Coca cola','Yapacani',1),(3,'bbb','Yacacani',1);
/*!40000 ALTER TABLE `empresa_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `negocio`
--

DROP TABLE IF EXISTS `negocio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `negocio` (
  `idNegocio` int NOT NULL AUTO_INCREMENT,
  `fechaNegocio` date NOT NULL,
  `idTipoNegocio` int DEFAULT NULL,
  `idProducto` int DEFAULT NULL,
  `idTipopago` int DEFAULT NULL,
  `nota` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`idNegocio`),
  KEY `idProducto` (`idProducto`),
  KEY `idTipopago` (`idTipopago`),
  KEY `idTipoNegocio` (`idTipoNegocio`),
  CONSTRAINT `negocio_ibfk_1` FOREIGN KEY (`idProducto`) REFERENCES `producto_O` (`idProducto`),
  CONSTRAINT `negocio_ibfk_2` FOREIGN KEY (`idTipopago`) REFERENCES `tipoPago` (`idPago`),
  CONSTRAINT `negocio_ibfk_3` FOREIGN KEY (`idTipoNegocio`) REFERENCES `tipoNegocio` (`idTipoNegocio`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `negocio`
--

LOCK TABLES `negocio` WRITE;
/*!40000 ALTER TABLE `negocio` DISABLE KEYS */;
INSERT INTO `negocio` VALUES (1,'2025-10-10',1,1,2,NULL);
/*!40000 ALTER TABLE `negocio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pago_O`
--

DROP TABLE IF EXISTS `pago_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pago_O` (
  `idPago` int NOT NULL AUTO_INCREMENT,
  `numeroPago` varchar(20) NOT NULL,
  `fechaPago` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tipo` enum('cobro','pago') NOT NULL COMMENT 'cobro=cliente paga, pago=empresa paga a proveedor',
  `idPersona` int DEFAULT NULL,
  `idProveedor` int DEFAULT NULL,
  `idEmpresa` int NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `idTipoPago` int NOT NULL,
  `numeroReferencia` varchar(50) DEFAULT NULL COMMENT 'Nro. de transacci??n/cheque',
  `observaciones` text,
  `idUsuario` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idPago`),
  UNIQUE KEY `numeroPago` (`numeroPago`),
  KEY `fk_pago_empresa` (`idEmpresa`),
  KEY `fk_pago_tipopago` (`idTipoPago`),
  KEY `fk_pago_usuario` (`idUsuario`),
  KEY `idx_pago_fecha_empresa` (`fechaPago`,`idEmpresa`),
  KEY `idx_pago_persona` (`idPersona`),
  KEY `idx_pago_proveedor` (`idProveedor`),
  KEY `idx_pago_numero` (`numeroPago`),
  CONSTRAINT `fk_pago_empresa` FOREIGN KEY (`idEmpresa`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `fk_pago_persona` FOREIGN KEY (`idPersona`) REFERENCES `persona_O` (`id_persona`),
  CONSTRAINT `fk_pago_proveedor` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor_O` (`idProveedor`),
  CONSTRAINT `fk_pago_tipopago` FOREIGN KEY (`idTipoPago`) REFERENCES `tipoPago` (`idPago`),
  CONSTRAINT `fk_pago_usuario` FOREIGN KEY (`idUsuario`) REFERENCES `user_O` (`id_user`),
  CONSTRAINT `chk_pago_tipo` CHECK ((((`tipo` = _latin1'cobro') and (`idPersona` is not null) and (`idProveedor` is null)) or ((`tipo` = _latin1'pago') and (`idProveedor` is not null) and (`idPersona` is null)))),
  CONSTRAINT `pago_O_chk_1` CHECK ((`monto` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Pagos (cobros de clientes / pagos a proveedores)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago_O`
--

LOCK TABLES `pago_O` WRITE;
/*!40000 ALTER TABLE `pago_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `pago_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission_O`
--

DROP TABLE IF EXISTS `permission_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permission_O` (
  `id_perm` int NOT NULL AUTO_INCREMENT,
  `resource` varchar(50) NOT NULL,
  `action` varchar(20) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_perm`),
  UNIQUE KEY `resource` (`resource`,`action`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission_O`
--

LOCK TABLES `permission_O` WRITE;
/*!40000 ALTER TABLE `permission_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `permission_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona_O`
--

DROP TABLE IF EXISTS `persona_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persona_O` (
  `nombres_persona` varchar(50) NOT NULL,
  `apellido_paternoPersona` varchar(30) DEFAULT NULL,
  `apellido_maternoPer` varchar(50) DEFAULT NULL,
  `telefono_persona` varchar(15) DEFAULT NULL,
  `id_tipoPersona` int NOT NULL,
  `id_persona` int NOT NULL AUTO_INCREMENT,
  `ci_persona` varchar(10) NOT NULL,
  `direccion_persona` varchar(100) NOT NULL,
  `fotoPersona` varchar(100) NOT NULL,
  `id_empresa` int NOT NULL,
  PRIMARY KEY (`id_persona`),
  UNIQUE KEY `persona_O_unique` (`ci_persona`),
  KEY `id_tipoPersona` (`id_tipoPersona`),
  KEY `id_empresa` (`id_empresa`),
  CONSTRAINT `persona_O_ibfk_1` FOREIGN KEY (`id_tipoPersona`) REFERENCES `tipo_personaO` (`idtipoPers`),
  CONSTRAINT `persona_O_ibfk_2` FOREIGN KEY (`id_empresa`) REFERENCES `empresa_O` (`id_empresa`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona_O`
--

LOCK TABLES `persona_O` WRITE;
/*!40000 ALTER TABLE `persona_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `persona_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestamo_O`
--

DROP TABLE IF EXISTS `prestamo_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestamo_O` (
  `id_prestamo` int NOT NULL AUTO_INCREMENT,
  `cantidad_envaseCaja` int DEFAULT '0',
  `cantidad_prestamoBotellas` int DEFAULT '0',
  `descripcion_envase` varchar(500) DEFAULT NULL,
  `fecha_prestamo` date DEFAULT NULL,
  `id_persona` int NOT NULL,
  `estado_prestamo` tinyint(1) DEFAULT '0',
  `fecha_devolucion` datetime DEFAULT NULL,
  `chofer` int NOT NULL,
  `idTipocaja` int NOT NULL,
  `idProducto` int DEFAULT NULL,
  `esRetornable` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=retornable, 0=no retornable',
  `montoGarantia` decimal(10,2) DEFAULT '0.00' COMMENT 'Monto cobrado como garant??a',
  `garantiaPagada` tinyint(1) DEFAULT '0' COMMENT '1=pag?? garant??a, 0=sin garant??a',
  `idEmpresa` int DEFAULT NULL COMMENT 'Empresa del pr??stamo para scoping directo',
  PRIMARY KEY (`id_prestamo`),
  KEY `id_persona` (`id_persona`),
  KEY `chofer` (`chofer`),
  KEY `idProducto` (`idProducto`),
  KEY `idTipocaja` (`idTipocaja`),
  KEY `idx_prestamo_empresa_estado` (`idEmpresa`,`estado_prestamo`),
  CONSTRAINT `fk_prestamo_empresa` FOREIGN KEY (`idEmpresa`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `prestamo_O_ibfk_1` FOREIGN KEY (`id_persona`) REFERENCES `persona_O` (`id_persona`),
  CONSTRAINT `prestamo_O_ibfk_2` FOREIGN KEY (`chofer`) REFERENCES `persona_O` (`id_persona`),
  CONSTRAINT `prestamo_O_ibfk_3` FOREIGN KEY (`idProducto`) REFERENCES `producto_O` (`idProducto`),
  CONSTRAINT `prestamo_O_ibfk_4` FOREIGN KEY (`idTipocaja`) REFERENCES `tipocaja_O` (`idTipocaja`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Prestamo de envases';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestamo_O`
--

LOCK TABLES `prestamo_O` WRITE;
/*!40000 ALTER TABLE `prestamo_O` DISABLE KEYS */;
INSERT INTO `prestamo_O` VALUES (11,12,480,NULL,'2025-10-22',4,1,NULL,6,1,2,1,0.00,0,2),(12,90,3600,NULL,'2025-10-17',2,0,NULL,4,1,2,1,0.00,0,1);
/*!40000 ALTER TABLE `prestamo_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto_O`
--

DROP TABLE IF EXISTS `producto_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto_O` (
  `idProducto` int NOT NULL AUTO_INCREMENT,
  `nombreProducto` varchar(100) NOT NULL,
  `stockCaja` int NOT NULL DEFAULT '0',
  `idEmpresa` int NOT NULL,
  `idTipoBotella` int NOT NULL,
  PRIMARY KEY (`idProducto`),
  UNIQUE KEY `uq_producto_empresa_nombre` (`idEmpresa`,`nombreProducto`),
  KEY `idTipoBotella` (`idTipoBotella`),
  CONSTRAINT `producto_O_ibfk_2` FOREIGN KEY (`idTipoBotella`) REFERENCES `tipoBotella` (`idTipoBotella`),
  CONSTRAINT `producto_O_ibfk_4` FOREIGN KEY (`idEmpresa`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `chk_stockCaja_nonneg` CHECK ((`stockCaja` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto_O`
--

LOCK TABLES `producto_O` WRITE;
/*!40000 ALTER TABLE `producto_O` DISABLE KEYS */;
INSERT INTO `producto_O` VALUES (1,'Cocacola',0,2,2),(2,'Inca Kola 1.5L',80,1,1),(3,'Sprite 2L',60,1,1),(4,'Agua San Luis 625ml',200,1,2);
/*!40000 ALTER TABLE `producto_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor_O`
--

DROP TABLE IF EXISTS `proveedor_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedor_O` (
  `idProveedor` int NOT NULL AUTO_INCREMENT,
  `idPersona` int DEFAULT NULL,
  `idEmpresaProveedor` int DEFAULT NULL,
  `nombreComercial` varchar(100) DEFAULT NULL,
  `contacto` varchar(100) DEFAULT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `esEmpresa` tinyint(1) NOT NULL DEFAULT '0' COMMENT '1=empresa, 0=persona',
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `observaciones` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idProveedor`),
  KEY `idx_proveedor_empresa` (`idEmpresaProveedor`),
  KEY `idx_proveedor_persona` (`idPersona`),
  KEY `idx_proveedor_estado` (`estado`),
  CONSTRAINT `fk_proveedor_empresa` FOREIGN KEY (`idEmpresaProveedor`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `fk_proveedor_persona` FOREIGN KEY (`idPersona`) REFERENCES `persona_O` (`id_persona`),
  CONSTRAINT `chk_proveedor_tipo` CHECK ((((`esEmpresa` = 1) and (`idEmpresaProveedor` is not null) and (`idPersona` is null)) or ((`esEmpresa` = 0) and (`idPersona` is not null) and (`idEmpresaProveedor` is null))))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Proveedores: empresas o personas particulares';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor_O`
--

LOCK TABLES `proveedor_O` WRITE;
/*!40000 ALTER TABLE `proveedor_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedor_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_O`
--

DROP TABLE IF EXISTS `role_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_O` (
  `idrole` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idrole`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_O`
--

LOCK TABLES `role_O` WRITE;
/*!40000 ALTER TABLE `role_O` DISABLE KEYS */;
INSERT INTO `role_O` VALUES (1,'admin','Full access'),(3,'viewer','Read-only'),(4,'chofer','Create prestamos and edit'),(5,'cliente','Cliente - solo puede ver sus propios prestamos'),(6,'superadmin','Full access to all resources');
/*!40000 ALTER TABLE `role_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permission_O`
--

DROP TABLE IF EXISTS `role_permission_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permission_O` (
  `role_id` int NOT NULL,
  `perm_id` int NOT NULL,
  PRIMARY KEY (`role_id`,`perm_id`),
  KEY `perm_id` (`perm_id`),
  CONSTRAINT `role_permission_O_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `role_O` (`idrole`) ON DELETE CASCADE,
  CONSTRAINT `role_permission_O_ibfk_2` FOREIGN KEY (`perm_id`) REFERENCES `permission_O` (`id_perm`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permission_O`
--

LOCK TABLES `role_permission_O` WRITE;
/*!40000 ALTER TABLE `role_permission_O` DISABLE KEYS */;
INSERT INTO `role_permission_O` VALUES (1,1),(6,1),(1,2),(6,2),(1,3),(6,3),(1,4),(6,4),(1,5),(6,5),(1,6),(6,6),(1,7),(6,7),(1,8),(6,8),(1,9),(6,9),(1,10),(6,10),(1,11),(6,11),(1,12),(6,12),(1,13),(3,13),(4,13),(5,13),(6,13),(1,14),(6,14),(1,15),(6,15),(1,16),(6,16),(1,17),(6,17),(1,18),(4,18),(1,19),(1,20),(4,20),(1,21),(1,22),(6,22),(1,23),(6,23),(1,24),(6,24),(1,25),(6,25),(1,26),(6,26),(1,27),(6,27),(1,28),(6,28),(1,29),(6,29),(1,30),(6,30),(1,31),(6,31),(1,32),(6,32),(1,33),(6,33),(1,34),(6,34);
/*!40000 ALTER TABLE `role_permission_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schema_migrations`
--

DROP TABLE IF EXISTS `schema_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schema_migrations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) NOT NULL,
  `applied_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `filename` (`filename`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schema_migrations`
--

LOCK TABLES `schema_migrations` WRITE;
/*!40000 ALTER TABLE `schema_migrations` DISABLE KEYS */;
INSERT INTO `schema_migrations` VALUES (1,'2025_10_19_db_refactors.sql','2025-10-24 02:50:43'),(2,'2025_10_20_ventas_compras_schema.sql','2025-10-24 02:50:43');
/*!40000 ALTER TABLE `schema_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoBotella`
--

DROP TABLE IF EXISTS `tipoBotella`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipoBotella` (
  `idTipoBotella` int NOT NULL AUTO_INCREMENT,
  `tipoBotella` varchar(100) NOT NULL,
  PRIMARY KEY (`idTipoBotella`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoBotella`
--

LOCK TABLES `tipoBotella` WRITE;
/*!40000 ALTER TABLE `tipoBotella` DISABLE KEYS */;
INSERT INTO `tipoBotella` VALUES (1,'Vidrio'),(2,'Desechable');
/*!40000 ALTER TABLE `tipoBotella` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoNegocio`
--

DROP TABLE IF EXISTS `tipoNegocio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipoNegocio` (
  `idTipoNegocio` int NOT NULL AUTO_INCREMENT,
  `nombreTipoNegocio` varchar(100) NOT NULL,
  PRIMARY KEY (`idTipoNegocio`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoNegocio`
--

LOCK TABLES `tipoNegocio` WRITE;
/*!40000 ALTER TABLE `tipoNegocio` DISABLE KEYS */;
INSERT INTO `tipoNegocio` VALUES (1,'Compra'),(2,'Venta');
/*!40000 ALTER TABLE `tipoNegocio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoPago`
--

DROP TABLE IF EXISTS `tipoPago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipoPago` (
  `idPago` int NOT NULL AUTO_INCREMENT,
  `nombrePago` varchar(100) NOT NULL,
  PRIMARY KEY (`idPago`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoPago`
--

LOCK TABLES `tipoPago` WRITE;
/*!40000 ALTER TABLE `tipoPago` DISABLE KEYS */;
INSERT INTO `tipoPago` VALUES (1,'Pago al credito'),(2,'Pago al contado'),(3,'Contado'),(4,'Cr??dito'),(5,'Tarjeta de Cr??dito'),(6,'Tarjeta de D??bito'),(7,'Transferencia Bancaria'),(8,'Cheque');
/*!40000 ALTER TABLE `tipoPago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoVenta`
--

DROP TABLE IF EXISTS `tipoVenta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipoVenta` (
  `idTipoVenta` int NOT NULL AUTO_INCREMENT,
  `nombreTipoVenta` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idTipoVenta`),
  UNIQUE KEY `nombreTipoVenta` (`nombreTipoVenta`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Tipos de venta: Mayor, Menor';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoVenta`
--

LOCK TABLES `tipoVenta` WRITE;
/*!40000 ALTER TABLE `tipoVenta` DISABLE KEYS */;
INSERT INTO `tipoVenta` VALUES (1,'Mayor','Venta al por mayor (distribuidores, restaurantes, etc.)',1,'2025-10-20 04:08:27'),(2,'Menor','Venta al por menor (clientes individuales)',1,'2025-10-20 04:08:27');
/*!40000 ALTER TABLE `tipoVenta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_personaO`
--

DROP TABLE IF EXISTS `tipo_personaO`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_personaO` (
  `tipoPersona` varchar(100) DEFAULT NULL,
  `idtipoPers` int NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`idtipoPers`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_personaO`
--

LOCK TABLES `tipo_personaO` WRITE;
/*!40000 ALTER TABLE `tipo_personaO` DISABLE KEYS */;
INSERT INTO `tipo_personaO` VALUES ('Cliente',1),('Chofer',2),('Propietario',3),('Encargadoo',5),('Ayudante',6);
/*!40000 ALTER TABLE `tipo_personaO` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipocaja_O`
--

DROP TABLE IF EXISTS `tipocaja_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipocaja_O` (
  `idTipocaja` int NOT NULL AUTO_INCREMENT,
  `nombretipo_caja` varchar(100) NOT NULL,
  `cantidadBotellasCaja` int NOT NULL,
  PRIMARY KEY (`idTipocaja`),
  UNIQUE KEY `uq_tipocaja_nombre` (`nombretipo_caja`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipocaja_O`
--

LOCK TABLES `tipocaja_O` WRITE;
/*!40000 ALTER TABLE `tipocaja_O` DISABLE KEYS */;
INSERT INTO `tipocaja_O` VALUES (1,'Madera',40),(2,'Plastico',12);
/*!40000 ALTER TABLE `tipocaja_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_O`
--

DROP TABLE IF EXISTS `user_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_O` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `id_role` int NOT NULL,
  `id_persona` int DEFAULT NULL,
  `profile_photo` longtext,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`),
  KEY `id_role` (`id_role`),
  KEY `id_persona` (`id_persona`),
  CONSTRAINT `user_O_ibfk_1` FOREIGN KEY (`id_role`) REFERENCES `role_O` (`idrole`),
  CONSTRAINT `user_O_ibfk_2` FOREIGN KEY (`id_persona`) REFERENCES `persona_O` (`id_persona`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_O`
--

LOCK TABLES `user_O` WRITE;
/*!40000 ALTER TABLE `user_O` DISABLE KEYS */;
INSERT INTO `user_O` VALUES (1,'LimbergVC','123456',6,3,NULL),(2,'Tania','123456',5,2,NULL),(3,'limberg','123456',1,5,NULL),(4,'Ever','$2b$12$hHMwUCMxz9wAeGaQ4etXg.CUJOgym5X5PCr6iq1YaN56NfKJqofwG',5,1,NULL);
/*!40000 ALTER TABLE `user_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta_O`
--

DROP TABLE IF EXISTS `venta_O`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta_O` (
  `idVenta` int NOT NULL AUTO_INCREMENT,
  `numeroVenta` varchar(20) NOT NULL,
  `fechaVenta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `idCliente` int NOT NULL,
  `idEmpresa` int NOT NULL,
  `idTipoVenta` int NOT NULL,
  `idTipoPago` int NOT NULL,
  `montoTotal` decimal(10,2) NOT NULL DEFAULT '0.00',
  `montoPagado` decimal(10,2) NOT NULL DEFAULT '0.00',
  `saldo` decimal(10,2) GENERATED ALWAYS AS ((`montoTotal` - `montoPagado`)) STORED,
  `estado` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=activa, 0=anulada',
  `observaciones` text,
  `idUsuario` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idVenta`),
  UNIQUE KEY `numeroVenta` (`numeroVenta`),
  KEY `fk_venta_empresa` (`idEmpresa`),
  KEY `fk_venta_tipoventa` (`idTipoVenta`),
  KEY `fk_venta_tipopago` (`idTipoPago`),
  KEY `fk_venta_usuario` (`idUsuario`),
  KEY `idx_venta_fecha_empresa` (`fechaVenta`,`idEmpresa`),
  KEY `idx_venta_cliente` (`idCliente`),
  KEY `idx_venta_saldo` (`saldo`),
  KEY `idx_venta_numero` (`numeroVenta`),
  CONSTRAINT `fk_venta_cliente` FOREIGN KEY (`idCliente`) REFERENCES `persona_O` (`id_persona`),
  CONSTRAINT `fk_venta_empresa` FOREIGN KEY (`idEmpresa`) REFERENCES `empresa_O` (`id_empresa`),
  CONSTRAINT `fk_venta_tipopago` FOREIGN KEY (`idTipoPago`) REFERENCES `tipoPago` (`idPago`),
  CONSTRAINT `fk_venta_tipoventa` FOREIGN KEY (`idTipoVenta`) REFERENCES `tipoVenta` (`idTipoVenta`),
  CONSTRAINT `fk_venta_usuario` FOREIGN KEY (`idUsuario`) REFERENCES `user_O` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Ventas (cabecera): mayor/menor, contado/cr??dito';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta_O`
--

LOCK TABLES `venta_O` WRITE;
/*!40000 ALTER TABLE `venta_O` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta_O` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'SystemaOllantay'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-24 13:38:53
